name: Build Toolchain

on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review]
    branches: [ "main" ]
  workflow_dispatch:    # Trigger on manual run
  release:              # Trigger on release
    types:
      - published

jobs:
  build:
    strategy:
      matrix:
        os:  [ubuntu-20.04, ubuntu-latest]
        include:
          - os: ubuntu-20.04
            container: false
            label: ubuntu20
            arch: amd64
          - os: ubuntu-22.04
            container: false
            label: ubuntu22
            arch: amd64
          - os: ubuntu-latest
            container: ghcr.io/axelera-ai/centos7-toolchain:v0.2
            label: centos7
            arch: amd64
          - os: [macOS, self-hosted]
            container: false
            label: macos
            arch: arm64

    runs-on: ${{ matrix.os }}

    name: Build and package (${{ matrix.label }}, ${{ matrix.arch }})

    steps:
    - name: Log in to GHCR
      if: ${{ matrix.container != false }}
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_PAT }}

    - name: Pull container image
      if: ${{ matrix.container != false }}
      run: docker pull ${{ matrix.container }}

    # The build process uses vast amount of storage space so we need to make
    # some more space with this action.
    # - name: Free Disk Space
    #   if: ${{ contains( matrix.os, 'ubuntu') }}
    #   uses: jlumbroso/free-disk-space@main
    #   with:
    #     # this might remove tools that are actually needed,
    #     # if set to "true" but frees about 6 GB
    #     tool-cache: false

    - name: Set up Python
      if: ${{ contains( matrix.os, 'ubuntu') }}
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      if: ${{ contains( matrix.os, 'ubuntu') }}
      run: |
        sudo apt-get update && \
        sudo apt-get install -y \
        autoconf \
        automake \
        autotools-dev \
        curl \
        python3 \
        python-is-python3 \
        python3-pip \
        libmpc-dev \
        libmpfr-dev \
        libgmp-dev \
        gawk \
        build-essential \
        bison \
        flex \
        texinfo \
        gperf \
        libtool \
        patchutils \
        bc \
        zlib1g-dev \
        libexpat-dev \
        ninja-build \
        git \
        libglib2.0-dev \
        libslirp-dev
        sudo apt-key adv --fetch-keys https://apt.kitware.com/keys/kitware-archive-latest.asc
        DISTRO_CODENAME=$(lsb_release -cs)
        echo "Using distribution codename: $DISTRO_CODENAME"
        sudo apt-add-repository "deb https://apt.kitware.com/ubuntu/ $DISTRO_CODENAME main"
        sudo apt-get update
        sudo apt-get install -y cmake
        sudo apt-get clean

    - name: Checkout repository
      uses: actions/checkout@v4

    # We need SSH set-up to get our private LLVM fork.
    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.TOOLS_LLVM_DEPLOY_KEY }}

    - name: Build Toolchain (container)
      if: ${{ matrix.container != false }}
      run: |
          source ./versions.sh
          git clone --depth 1 --single-branch --branch $LLVM_BRANCH git@github.com:axelera-ai/tools.llvm-project.git llvm-project
          docker run --rm -v ${{ github.workspace }}:/workspace \
            -v /etc/passwd:/etc/passwd:ro \
            -v /etc/group:/etc/group:ro  \
            -w /workspace -u $(id -u):$(id -g) \
            ${{ matrix.container }} bash -c "./build_toolchain.sh"

    - name: Build Toolchain (native)
      if: ${{ matrix.container == false }}
      run: ./build_toolchain.sh

    - name: Archive the build directory
      run: |
        tar -czf riscv64-unknown-elf-toolchain-axelera-${{ matrix.arch }}-${{ matrix.label }}.tar.gz riscv64-unknown-elf-toolchain-axelera

    # Create `deb` file
    - name: Create DEBIAN directory
      if: ${{ contains( matrix.label, 'ubuntu') }}
      run: |
        mkdir -p riscv64-unknown-elf-toolchain-axelera/DEBIAN
        find riscv64-unknown-elf-toolchain-axelera -type d | xargs chmod 755

    - name: Create control file with version
      if: ${{ contains( matrix.label, 'ubuntu') }}
      run: |
        cat <<EOF > riscv64-unknown-elf-toolchain-axelera/DEBIAN/control
        Package: riscv64-unknown-elf-toolchain-axelera
        Maintainer: Axelera AI
        Priority: optional
        Architecture: ${{ matrix.arch }}
        Version: 0.2.1
        Depends: libc6, libstdc++6, libgcc-s1, libgmp10, libmpfr6, libexpat1, libtinfo6, libncursesw6, zlib1g, libmpc3
        Description: Axelera internal RISC-V toolchain containing a newlib toolchain GCC and LLVM with custom patches.
        EOF

    # Version: ${{ github.event.release.tag_name }}
    - name: Build DEB package
      if: ${{ contains( matrix.label, 'ubuntu') }}
      run: |
        fakeroot dpkg-deb --build riscv64-unknown-elf-toolchain-axelera
        mv riscv64-unknown-elf-toolchain-axelera.deb riscv64-unknown-elf-toolchain-axelera-${{ matrix.arch }}-${{ matrix.label }}.deb

    # Upload the build artifacts
    - name: Upload build artifact
      if: ${{ contains( matrix.label, 'ubuntu') }}
      uses: actions/upload-artifact@v4
      with:
        name: riscv64-unknown-elf-toolchain-axelera-${{ matrix.arch }}-${{ matrix.label }}.deb
        path: riscv64-unknown-elf-toolchain-axelera-${{ matrix.arch }}-${{ matrix.label }}.deb

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: riscv64-unknown-elf-toolchain-axelera-${{ matrix.arch }}-${{ matrix.label }}.tar.gz
        path: riscv64-unknown-elf-toolchain-axelera-${{ matrix.arch }}-${{ matrix.label }}.tar.gz

    # - name: Upload to Release
    #   if: github.event_name == 'release'
    #   uses: softprops/action-gh-release@v2
    #   with:
    #     upload_url: ${{ github.event.release.upload_url }}
    #     files: riscv64-unknown-elf-toolchain-axelera-${{ matrix.arch }}-${{ matrix.label }}.tar.gz

    # - name: Upload to Release
    #   if: github.event_name == 'release' && contains( matrix.label, 'ubuntu')
    #   uses: softprops/action-gh-release@v2
    #   with:
    #     upload_url: ${{ github.event.release.upload_url }}
    #     files: riscv64-unknown-elf-toolchain-axelera-${{ matrix.arch }}-${{ matrix.label }}.deb
