name: Build and Release Toolchain

on:
  workflow_dispatch:    # Trigger on manual run
  release:              # Trigger on release
    types:
      - published
env:
  PKG_VENDOR: axelera
  PKG_NAME: riscv64-unknown-elf-toolchain
  PKG_INSTALL_PREFIX: opt/axelera

jobs:
  build:
    strategy:
      matrix:
        os:  [ci-prod-AWS-CPU-X86_64-EKS, ci-prod-AWS-CPU-ARM64-EKS]
        label: [ubuntu-20.04]
        include:
          - os: ci-prod-AWS-CPU-X86_64-EKS
            container: false
            label: ubuntu-20.04
            arch: amd64
          # - os: [macOS, self-hosted]
          #   container: false
          #   label: macos
          #   arch: arm64
          - os: ci-prod-AWS-CPU-ARM64-EKS
            container: false
            label: ubuntu-20.04
            arch: arm64

    runs-on: ${{ matrix.os }}

    container:
      image: ubuntu:20.04

    name: Build and package (${{ matrix.label }}, ${{ matrix.arch }})
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install dependencies
      if: ${{ !contains(matrix.os, 'macOS') }}
      run: |
        (type -p wget >/dev/null || (apt update && apt-get install wget -y)) \
          && mkdir -p -m 755 /etc/apt/keyrings \
          && wget -qO- https://cli.github.com/packages/githubcli-archive-keyring.gpg | tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
          && chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
          && echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | tee /etc/apt/sources.list.d/github-cli.list > /dev/null
        apt-key adv --fetch-keys https://apt.kitware.com/keys/kitware-archive-latest.asc
        DISTRO_CODENAME=$(lsb_release -cs)
        apt-add-repository "deb https://apt.kitware.com/ubuntu/ $DISTRO_CODENAME main"
        apt-get update && \
        apt-get install -y \
        autoconf \
        automake \
        autotools-dev \
        curl \
        python3 \
        python-is-python3 \
        python3-pip \
        libmpc-dev \
        gawk \
        build-essential \
        bison \
        flex \
        texinfo \
        gperf \
        libtool \
        patchutils \
        bc \
        zlib1g-dev \
        libexpat-dev \
        ninja-build \
        git \
        libglib2.0-dev \
        libslirp-dev \
        fakeroot \
        gh \
        cmake \
        libncurses-dev

    - name: Execute keyscan for repo servers
      run: |
        [[ -e ~/.ssh/known_hosts ]] && ssh-keygen -R github.com || true
        mkdir -p ~/.ssh
        ssh-keyscan -H github.com >> ~/.ssh/known_hosts
      shell: bash

    - uses: webfactory/ssh-agent@v0.9.0
      with:
          ssh-private-key: ${{ secrets.TOOLS_LLVM_DEPLOY_KEY }}

    - name: Build Toolchain (native)
      # if: matrix.container == false
      run: ./build_toolchain.sh

    - name: Determine semantic version
      run: |
        cat install/VERSION
        source install/VERSION
        echo "PKG_FULL_NAME=${{ env.PKG_VENDOR }}-${{ env.PKG_NAME }}_${GIT_SEMVER_FROM_TAG}" >> "$GITHUB_ENV"
        echo "GIT_SEMVER_FROM_TAG=$GIT_SEMVER_FROM_TAG" >> "$GITHUB_ENV"
        echo "PKG_RELEASE_NUMBER=$PKG_RELEASE_NUMBER" >> "$GITHUB_ENV"
        echo "PKG_DEPENDS=$PKG_DEPENDS" >> "$GITHUB_ENV"

    - name: Re-name and archive the build directory
      run: |
        ARCHIVE_NAME="${{ env.PKG_FULL_NAME }}_${{ matrix.label }}_${{ matrix.arch }}.tar.gz"
        mv install ${{ env.PKG_FULL_NAME }}
        tar -czf "$ARCHIVE_NAME" ${{ env.PKG_FULL_NAME }}
        echo "ARCHIVE_NAME=$ARCHIVE_NAME" >> "$GITHUB_ENV"

    # Create `deb` file
    - name: Create DEBIAN directory
      if: contains(matrix.label, 'ubuntu')
      run: |
        mkdir -p debian/${{ env.PKG_INSTALL_PREFIX }}
        mv ${{ env.PKG_FULL_NAME }} debian/${{ env.PKG_INSTALL_PREFIX }}
        mkdir -p debian/DEBIAN
        find debian -type d | xargs chmod 755

    - name: Create control file with version
      if: contains(matrix.label, 'ubuntu')
      run: |
          DEB_PKG_ARCH="${{ matrix.arch }}"

          # Use sed to replace the placeholders with actual values
          sed -e "s|@PKG_VERSION@|${GIT_SEMVER_FROM_TAG}|" \
              -e "s|@PKG_NAME@|${{ env.PKG_VENDOR }}-${{ env.PKG_NAME }}|" \
              -e "s|@PKG_RELEASE_NUMBER@|${PKG_RELEASE_NUMBER}|" \
              -e "s|@DEB_PKG_ARCH@|${DEB_PKG_ARCH}|" \
              -e "s|@PKG_DEPENDS@|${PKG_DEPENDS}|" \
              debian-pkg-control.in > debian/DEBIAN/control

    - name: Build .deb package
      if: contains(matrix.label, 'ubuntu')
      run: |
        fakeroot dpkg-deb --build debian
        DEB_NAME="${{ env.PKG_FULL_NAME }}_${{ matrix.label }}_${{ matrix.arch }}.deb"
        mv debian.deb "$DEB_NAME"
        echo "DEB_NAME=$DEB_NAME" >> "$GITHUB_ENV"

    # Upload the build artifacts
    - name: Upload (.deb) build artifact
      if: contains(matrix.label, 'ubuntu')
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.DEB_NAME }}
        path: ${{ env.DEB_NAME }}

    - name: Upload (.tar.gz) build artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.ARCHIVE_NAME }}
        path: ${{ env.ARCHIVE_NAME }}

    - name: Upload (.tar.gz) to release
      if: github.event_name == 'release'
      run: |
        gh release upload ${{ github.event.release.tag_name }} \
        ${{ env.ARCHIVE_NAME }} --clobber
      env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload (.deb) to release
      if: github.event_name == 'release' && contains(matrix.label, 'ubuntu')
      run: |
        gh release upload ${{ github.event.release.tag_name }} \
        ${{ env.DEB_NAME }} --clobber
      env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  update-release-description:
    name: Update release description with version info
    runs-on: ubuntu-latest
    needs: build   # This ensures the job runs after all matrix jobs
    if: github.event_name == 'release'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update release description
        run: |
          gh release edit ${{ github.event.release.tag_name }} \
            --notes-file versions.sh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
